body {
  height: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 970px;
}


#header {
	height: 120px;
	font-family: Verdana;
	width: 950px;
}

#header img {
	border: none;
	display: inline;
	height: 68px;
	margin-left: 10px;
	vertical-align: middle;
	width: 357px;
}

#header p {
	display: inline;
	font-size: 16px;
	font-weight: bold;
	margin-left: 250px;
	position: relative;
	text-transform: uppercase;
	top: 10px;
	width: 350px;
}

#header ul {
	background: -webkit-linear-gradient(#EDF1F3, #DBE1E6); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#EDF1F3, #DBE1E6); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#EDF1F3, #DBE1E6); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#EDF1F3, #DBE1E6); /* Standard syntax */
	border-top-style: solid;
	border-color: #999999;
	border-width: 2px;
	height: 30px;
	width: 910px;
}

#header li {
	border-right-style: solid;
	border-width: 2px;
	border-color: #CCCCCC;
	color: #999999;
	cursor: pointer;
	display: inline;
	font-size: 10px;
	font-weight: bold;
	margin-left: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#header ul li:first-child {
	border-left-style: solid;
}

li a {
	color: #999999;
	text-decoration: none;
}

#content {
	background: -webkit-linear-gradient(left, #000000 25%, #444444 50%, black 75%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #000000 25%, #444444 50%, black 75%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #000000 25%, #444444 50%, black 75%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #000000 25%, #444444 50%, black 75%); /* Standard syntax */
	height: 600px;
	padding: 10px;
	width: 950px;
}